.logo{
    text-decoration: none;
}
.profile-image-container{
    width: 2em;
    height: 2em;
}
.profile-image{
    border: 1px solid white;
    width: 100%;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
}